/* Global styles */
:root {
    --background: #1e1e2e; 
    --background-light: #fdebf3;
    --button: #78c2ad;
    --text: #fdebf3;
    --text-light: #1e1e2e; 
    --text-link: #78c2ad;
    --underline: #375a7f;
    --header: 'Pacifico', cursive;
    --body: 'Josefin Sans', sans-serif; 
}