---
const description = "404";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col mx-auto items-center text-xl font-serif gap-5 justify-between">
        <img width="300" height="259" alt="Raccoon404Gif" src="/404.webp" />
        <h1 class="font-sans text-6xl">{description}</h1>
        <p>
            It seems like you've wandered into the wrong forest!
        </p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</Layout>
