---
import { Image } from "astro:assets";
import { Button } from "@nextui-org/react";
import Skills from "@components/Skills.astro";
import Layout from "@layouts/Layout.astro";

const pageTitle = "Moxies Portfolio and blog";
---

<Layout pageTitle={pageTitle}>
    <div class="grid gap-2 sm:gap-3 lg:gap-4 text-milky-100 font-serif">
        <div class="flex flex-col sm:flex-row font-serif w-fit mx-auto">
            <div class="mx-auto content-center">
                <h1 class="font-sans mb-2 text-xl sm:text-5xl lg:text-6xl">
                    Moxie Benavides
                </h1>
                <h1
                    class="bg-milky-400 shadow shadow-milky-50 p-2 rounded-lg font-bold text-xs lg:text-lg text-nowrap w-fit sm:mx-auto"
                >
                    Digital Craftsman (Developer)
                </h1>
            </div>

            <Image
                loading="eager"
                width="300"
                height="259"
                alt="RaccoonSpaceGif"
                src="/space.webp"
                class="mx-auto"
            />
        </div>

        <h2
            class="font-sans underline underline-offset-4 text-4xl lg:text-5xl decoration-milky-300"
        >
            About Me
        </h2>

        <p
            class="text-xl lg:text-3xl 2xl:text-4xl hyphens-auto leading-normal text-balance indent-1 sm:w-3/4 3xl:w-1/2 mx-auto font-serif"
        >
            Howdy, y'all, my name is Moxie, and I'm a College student at UTSA
            studying Cyber Security. I plan to use this website to talk about my
            projects and whatever else catches my interest. While I've just
            started my progress, I hope to make this the first in many projects.
            Feel free to check my portfolio to check my progress
        </p>

        <a href="/works/">
            <Button
                className="border-milky-200 text-milky-200"
                variant="bordered"
                size="lg"
            >
                My portfolio
            </Button>
        </a>

        <h2
            class="font-sans underline underline-offset-4 text-4xl lg:text-5xl mx-auto decoration-milky-300"
        >
            Skills
        </h2>

        <Skills />

        <h2
            class="font-sans underline underline-offset-4 text-4xl lg:text-5xl mb-2 decoration-milky-300"
        >
            Interests
        </h2>

        <p
            class="text-xl lg:text-3xl 2xl:text-4xl hyphens-auto leading-normal text-balance indent-1 sm:w-2/3 3xl:w-1/2 mx-auto font-serif"
        >
            I'm Primarily interested in Computer programming and video games. My
            favorite games include A Hat in Time, Cyberpunk 2077, Deadcells, and
            Risk of Rain 2. I am also Currently in the process of making a game.
            As development progresses I will post updates
        </p>
    </div>
</Layout>
