<header>
    <nav transition:persist>
        <div class="bg-milky-400 border-white text-milky-100 border-2 rounded flex items-center justify-between mx-auto p-4">
            <a class="font-sans text-nowrap lg:text-3xl xl:text-4xl 3xl:text-5xl" href="/">Moxies Portfolio</a>
            <div class="font-serif lg:text-2xl xl:text-3xl 3xl:text-4xl">
                <a href="/works/">Works</a>
                <a href="/posts/">Posts</a>
                <a
                    href="https://github.com/moxie0420"
                    target="_blank">GitHub</a
                >
            </div>
        </div>
    </nav>
</header>
