---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-wrap gap-3 m-2 mx-auto justify-center">
  <Icon name="bitbucket" size={64} />
  <Icon name="c" size={64} />
  <Icon name="cplusplus" size={64} />
  <Icon name="csharp" size={64} />
  <Icon name="css3" size={64} />
  <Icon name="git" size={64} />
  <Icon name="html5" size={64} />
  <Icon name="javascript" size={64} />
  <Icon name="nextjs" size={64} />
  <Icon name="nixos" size={64} />
  <Icon name="react" size={64} />
  <Icon name="typescript" size={64} />
</div>
