---
import { SEO } from "astro-seo";

import Header from "@components/Header.astro";
import Particles from "@components/particles.astro";
import Kofi from "@components/kofi.astro";

interface Props {
  pageTitle?: string;
  description?: string;
  ogImg?: string;
}

const { pageTitle, description, ogImg } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en" class="rounded-md">
  <head>
    <SEO
      title={pageTitle}
      titleTemplate="%s - Moxie's Blog"
      titleDefault="Moxie's Blog"
      description={description ?? ""}
      charset="utf-8"
      openGraph={{
        basic: {
          title: pageTitle + " - " + description,
          type: "website",
          image: ogImg ?? "https://content.moxiege.com/public%2Fog.png",
        },
      }}
      twitter={{
        title: pageTitle,
        description: description,
        image: ogImg ?? "https://content.moxiege.com/public%2Fog.png",
        site: Astro.site?.toString(),
      }}
      extend={{
        // extending the default link tags
        link: [
          { rel: "sitemap", href: "/sitemap-index.xml" },
          { rel: "icon", href: "/favicon.svg" },
          { rel: "preconnect", href: "https://fonts.googleapis.com" },
          {
            rel: "preconnect",
            href: "https://fonts.gstatic.com",
            crossOrigin: "true",
          },
          {
            rel: "preload",
            href: "https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap",
            as: "style",
          },
          {
            rel: "stylesheet",
            href: "https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap",
          },
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: "Moxie's Blog",
            href: new URL("feed.xml", Astro.site).toString(),
          },
        ],
        // extending the default meta tags
        meta: [
          { name: "generator", content: Astro.generator },
          { name: "viewport", content: "width=device-width, initial-scale=1" },
        ],
      }}
    />
    <Particles />
  </head>

  <body class="flex flex-col sm:mx-auto p-3 sm:p-4 gap-7">
    <Header />
    <main
      class="bg-milky-400 border-milky-100 border-2 text-milky-100 text-center p-2 rounded-md"
    >
      <slot />
    </main>
    <footer class="flex flex-row justify-between mx-auto">
      <Kofi class="w-1/3 mx-auto" />
    </footer>
    <script
      is:inline
      type="text/partytown"
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "d1b137117136467dbc4e9e77002a24a9"}'></script>
  </body>
</html>
