---
import "@fontsource/pacifico";
import "@fontsource-variable/josefin-sans";

import { SEO } from "astro-seo";

import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

import Header from "@components/Header.astro";
import Clouds from "@components/Clouds";
import Kofi from "@components/kofi.astro";

interface Props {
  pageTitle?: string;
  description?: string;
  ogImg?: string;
}

const { pageTitle, description, ogImg } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en" class="rounded-md">
  <head>
    <SEO
      title={pageTitle}
      titleTemplate="%s - Moxie's Blog"
      titleDefault="Moxie's Blog"
      description={description ?? ""}
      charset="utf-8"
      openGraph={{
        basic: {
          title: pageTitle + " - " + description,
          type: "website",
          image: ogImg ?? "https://content.moxiege.com/public%2Fog.png",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          { name: "generator", content: Astro.generator },
          { name: "viewport", content: "width=device-width, initial-scale=1" },
        ],
      }}
    />
    <ViewTransitions />
  </head>

  <body class="flex flex-col sm:mx-auto p-3 sm:p-4 gap-7">
    <Header />
    <main
      class="bg-milky-400 border-milky-100 border-2 text-milky-100 text-center p-2 rounded-md"
      transition:animate={fade({ duration: "0.2s" })}
    >
      <slot />
    </main>
    <footer class="flex flex-row justify-between mx-auto">
      <Kofi class="w-1/3 mx-auto" />
    </footer>
    <Clouds client:load />
  </body>
</html>
